<header>
  <div class="cabeçalho-areaturma">

    <div class="logoHome-areaturma">
      <img src="medias/images/Logo.svg" alt="" />
    </div>

    <div class="cabecalhoOp">
      <ul>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="/conta"><img src="medias/images/signInIcon.svg" alt="" /></a></li>
      </ul>
    </div>

  </div>
</header>

<section class="area">

  <div class="primeira-sessao">
    <a href="">Voltar</a>
  </div>

  <div class="segunda-sessao">

    <p id="p-1">ÁREA DA TURMA</p>

    <p id="p-2">Qual turma você deseja acessar?</p>
  </div>

</section>

<section class="cards">
  {{#each turmas}}
  <div class="card">
    <img src="{{imagem}}" alt="" />
    <p id="p-3">TURMA</p>
    <p>{{nome}}</p>
    <p id="p-4">TURNO</p>
    <p>{{turno}}</p>
    <p id="p-4">MATÉRIA</p>
    <p>{{materia}}</p>
    <p id="p-4">INÍCIO</p>
    <p>{{inicio}}</p>
    <p id="p-4">FIM</p>
    <p>{{termino}}</p>
    <div class="card-button">
      <a href="/infoturmas/{{id}}">Acessar</a>
    </div>
  </div>
  {{/each}}
</section>

<footer class="quarta-sessao">

  <div class="footer">
    <div class="img-footer">
      <img src="medias/images/Logo.svg" alt="" />
    </div>
    
     <p>@2024 direitos autorais de autometer</p>
     <p>voltar para o inicio ^</p>
  </div>

</footer>