<header>
    <div class="cabeçalho-areaturma">

        <div class="logoHome-areaturma">
            <a href="/"><img src="/medias/images/Logo.svg" alt="" /></a>
        </div>

        <div class="cabecalhoOp">
            <ul>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="/conta/:id"><img src="/medias/images/signInIcon.svg" alt="" /></a></li>
            </ul>
        </div>

    </div>
</header>

<main class="contaMain">

    <div class="menu-lateral">

        <div class="menu-lateral-itens">
            <h2>Status</h2>
            <a href="/avaliacao.elogio/{{usuarioId}}">Elogios</a>
            <a href="/avaliacao.ocorrencia/{{usuarioId}}">Ocorrências</a>
            <a href="/status/{{usuarioId}}">Informações</a>
        </div>

        <div class="menu-lateral-itens2">
            <a id="p-voltar" href="/areaturma">VOLTAR</a>
        </div>

    </div>

    <div class="informacoes">

        <div class="img-center">
            <img src="{{imagemUsuario}}" alt="" />
        </div>

        <h1 class="informacoesText">PONTUAÇÃO do {{nomeUsuario}}</h1>
        <p id="userPoints" class="informacoesText">{{avaliacaoUsuario}}</p>

        <div class="points">
            <h2>Alterar pontuação</h2>
            <form action="/addPoints/{{usuarioId}}" method="post">
                <input type="number" id="userPointsModifier" name="userPointsModifier">
            <button type="submit">Mudar</button>
            </form>      
        </div>

</main>

<footer class="quarta-sessao">

    <div class="footer-conta">
        <div class="img-footer">
            <img src="/medias/images/Logo.svg" alt="" />
        </div>

        <p>@2024 direitos autorais de autometer</p>
        <p>voltar para o inicio ^</p>
    </div>

</footer>

