<header>
    <div class="cabeçalho-areaturma">

        <div class="logoHome-areaturma">
            <a href="/"><img src="/medias/images/Logo.svg" alt="" /></a>
        </div>

        <div class="cabecalhoOp">
            <ul>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="/conta/:id"><img src="/medias/images/signInIcon.svg" alt="" /></a></li>
            </ul>
        </div>

    </div>
</header>

<main class="contaMain">

    <div class="menu-lateral menu-lateralAvaliacao">

        <div class="menu-lateral-itens">
            <h2>Status</h2>
            <a href="/avaliacao.elogio/{{usuarioId}}">Elogios</a>
            <a href="/avaliacao.ocorrencia/{{usuarioId}}">Ocorrências</a>
            <a href="/status/{{usuarioId}}">Informações</a>
        </div>

        <div class="menu-lateral-itens2">
            <a id="p-voltar" href="/areaturma">VOLTAR</a>
        </div>

    </div>

    <div class="informacoes">

        <div class="img-center">
            <img src={{imagemUsuario}} alt="" />
        </div>

        <div class="container-conta" style="border: none;">

            <div class="avaliacaoContainer">

                <div class="avaliacaoTable">
                    <h1>Elogio</h1>

                    <form action="/adicionarElogio/{{usuarioId}}" method="post">
                        <div class="elogioBox">
                            <div class="descricaoBox">
                                <p>Descrição: </p>
                                <input type="text" name="descricao" placeholder="Escreva um comentário...">
                            </div>
                            <div class="elogioSend">
                                <button type="submit">Enviar</button>
                            </div>
                        </div>
                    </form>


                </div>

            </div>

        </div>

</main>

<footer class="quarta-sessao">

    <div class="footer-conta">
        <div class="img-footer">
            <img src="/medias/images/Logo.svg" alt="" />
        </div>

        <p>@2024 direitos autorais de autometer</p>
        <p>voltar para o inicio ^</p>
    </div>

</footer>