<style>
  body{
    background-color: white;
  }

  hr{
    margin-bottom: 2%;
  }
</style>

{{#each listaUsers}}

  <p>Id do usuário: {{this.id}}</p>
  <P>Nome do usuário:{{this.nome}}</P>
  <p>Email do usuário:{{this.email}}</p>
  <p>Nível de acesso do usuário:{{this.niveldeacesso}}</p>
  <img src={{this.imagem}} alt="" style="width: 100px;" />
  <hr />

{{/each}}

<h1>Lista Estudantes</h1>

{{#each listaEstudante}}

  <p>Id do Estudante: {{this.id}}</p>
  <p>Turma do Estudante: {{this.turma}}</p>
  <hr />

{{/each}}

<h1>Lista Turmas</h1>

{{#each listaTurma}}

  <p>Id da Turma: {{this.id}}</p>
  <p>Nome da Turma: {{this.nome}}</p>
  <hr />

{{/each}}

<h1>Lista de Funcionários</h1>

{{#each listaFuncionarios}}

  <p>Id do funcionário: {{this.id}}</p>
  <p>Tipo do funcionário: {{this.tipo}}</p>
  <hr />

{{/each}}

<h1>Lista dos Professores</h1>

{{#each listaProfessores}}

  <p>Id do Professor: {{this.id}}</p>
  <hr />

{{/each}}

<h1>Turmas</h1>

{{#each listaTurma}}
  <p>Nome: {{this.nome}}</p>
  <p>Matéria: {{this.materia}}</p>
  <p>Capacidade: {{this.capacidade}}</p>
  <p>Sala: {{this.sala}}</p>
  <p>Início: {{this.inicio}}</p>
  <p>Término: {{this.termino}}</p>
  <p>Turno: {{this.turno}}</p>

  <h3>Professores:</h3>
  {{#each this.listaProfessoresDasTurmas}}
    <p>{{this.nome}}</p>
  {{/each}}

  <hr>
{{/each}}

<h1>TESTE PROFESSORES</h1>
{{#each listaProfessores}}
  <p>Tem algum professor aqui</p>
{{/each}}

<hr>

<h1>Formulário Login</h1>
<form action="/login" method="post">
  <label for="email">Email</label>
  <input type="text" name="email" id="email" />

  <label for="senha">Senha</label>
  <input type="password" name="senha" id="senha" />

  <button type="submit">Enviar</button>
</form>

<hr style="margin-bottom: 5%;" />

<h1>Registro</h1>
<form action="/teste/registro" method="post">

  <labe for="">Nome</labe>
  <input type="text" name="nome" id="" />

  <label for="">Email</label>
  <input type="text" name="email" />

  <label for="">Senha</label>
  <input type="text" name="senha" />

  <label for="">Imagem</label>
  <input type="text" name="imagem" />

  <label for="">Nivel de acesso</label>
  <select name="nivelacesso">
    <option value="Nível de acesso">Nível de acesso</option>
    <option value="Administrativo Total">Administrativo Total</option>
    <option value="Acesso Pedagógico Avançado">Acesso Pedagógico Avançado</option>
    <option value="Acesso Pedagógico">Acesso Pedagógico</option>
    <option value="Acesso Básico">Acesso Básico</option>
  </select>

  <select name="tipo">
    <option value="Tipo">Tipo</option>
    <option value="Estudante">Estudante</option>
    <option value="Professor">Professor</option>
    <option value="Coordenador">Coordenador</option>
    <option value="Secretaria">Secretaria</option>
    <option value="Limpeza">Limpeza</option>
    <option value="Outro">Outro</option>
  </select>

  <button type="submit">Enviar</button>
</form>

<hr style="margin-bottom: 5%;" />

<h1>Criar turma</h1>
<form action="/teste/registroTurma" method="post">

  <label for="">Nome</label>
  <input type="text" name="nome" id="" />

  <label for="">Matéria</label>
  <input type="text" name="materia" />

  <label for="">Sala</label>
  <input type="text" name="sala" />

  <label for="">Capacidade</label>
  <input type="text" name="capacidade" />

  <label for="">Inicio</label>
  <input type="date" name="inicio" />

  <label for="">Término</label>
  <input type="date" name="termino" />

  <label for="">Imagem</label>
  <input type="text" name="imagem" />

  <label for="">Professor</label>
  <select name="professor">
    {{#each listaProfessores}}
      <option value={{this.nome}}>{{this.nome}}</option>
    {{/each}}
  </select>

  <label for="">Turno</label>
  <select name="turno">
    <option value="Turno">Turno</option>
    <option value="Manhã">Manhã</option>
    <option value="Tarde">Tarde</option>
    <option value="Noite">Noite</option>
  </select>

  <button type="submit">Enviar</button>
</form>

<hr />

<h1>Colocar estudante em uma turma</h1>

<form action="/teste/alunoTurma" method="post">
  <label for="">Nome do Aluno</label>
  <input type="text" name="nome" />

  <label for="">Adicionar na turma</label>
  <select name="Turma" id="">
    {{#each listaTurmas}}

      <option value="{{this.nome}}">{{this.nome}}</option>

    {{/each}}
  </select>

  <button type="submit">Enviar</button>
</form>

<hr>

<h1>ATUALIZAR NOME (USUÁRIO)</h1>

<form action="/teste/atualizarUserName" method="post">
  <label for="">Nome do Usuário a ser atualizado</label>
  <input type="text" name="nome">

  <label for="">Email do Usuário a ser atualizado</label>
  <input type="text" name="email">

  <hr>

  <label for="">Novo Nome</label>
  <input type="text" name="NewName">

  <button type="Submit">Enviar</button>
</form>

<hr>

<h1>ATUALIZAR EMAIL (USUÁRIO)</h1>

<form action="/teste/atualizarUserEmail" method="post">
  <label for="">Nome do Usuário a ser atualizado</label>
  <input type="text" name="nome">

  <label for="">Email do Usuário a ser atualizado</label>
  <input type="text" name="email">

  <hr>

  <label for="">Novo Email</label>
  <input type="text" name="NewEmail">

  <button type="Submit">Enviar</button>
</form>

<hr>

<h1>ATUALIZAR SENHA (USUÁRIO)</h1>

<form action="/teste/atualizarUserSenha" method="post">
  <label for="">Nome do Usuário a ser atualizado</label>
  <input type="text" name="nome">

  <label for="">Email do Usuário a ser atualizado</label>
  <input type="text" name="email">

  <hr>

  <label for="">Nova Senha</label>
  <input type="text" name="NewSenha">

  <button type="Submit">Enviar</button>
</form>

<hr>

<h1>ATUALIZAR IMAGEM (USUÁRIO)</h1>

<form action="/teste/atualizarUserImagem" method="post">
  <label for="">Nome do Usuário a ser atualizado</label>
  <input type="text" name="nome">

  <label for="">Email do Usuário a ser atualizado</label>
  <input type="text" name="email">

  <hr>

  <label for="">Nova Imagem</label>
  <input type="text" name="NewImagem">

  <button type="Submit">Enviar</button>
</form>

<hr>

<h1>ATUALIZAR NÍVEL DE ACESSO (USUÁRIO)</h1>

<form action="/teste/atualizarUserNivelDeAcesso" method="post">
  <label for="">Nome do Usuário a ser atualizado</label>
  <input type="text" name="nome">

  <label for="">Email do Usuário a ser atualizado</label>
  <input type="text" name="email">

  <hr>

  <label for="">Novo Nível de Acesso</label>
  <select name="newNivelacesso">
    <option value="Nível de acesso">Nível de acesso</option>
    <option value="Administrativo Total">Administrativo Total</option>
    <option value="Acesso Pedagógico Avançado">Acesso Pedagógico Avançado</option>
    <option value="Acesso Pedagógico">Acesso Pedagógico</option>
    <option value="Acesso Básico">Acesso Básico</option>
  </select>

  <button type="Submit">Enviar</button>
</form>

<hr>

<h1>Deletar Usuário</h1>

<form action="/teste/deleteUsuario" method="post">
  <label for="">Nome do Usuário</label>
  <input type="text" name="nome">

  <label for="">Email do Usuário</label>
  <input type="text" name="email">

  <button type="submit">Enviar</button>
</form>

<hr>

<h1>Atualizar Turma (NOME)</h1>

<form action="/teste/atualizarNomeTurma" method="POST">
  <div>
    <label for="nome">Nome Atual da Turma:</label>
    <select name="nome" id="">
      {{#each listaTurmas}}
      <option value="{{this.nome}}">{{this.nome}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <label for="novoNome">Novo Nome:</label>
    <input type="text" id="novoNome" name="novoNome" required>
  </div>

  <div>
    <button type="submit">Atualizar Nome</button>
  </div>
</form>

<hr>

<h1>Atualizar Turma (Turno)</h1>

<form action="/teste/atualizarTurnoTurma" method="POST">
  <div>
    <label for="nome">Nome da Turma:</label>
    <select name="nome" id="">
      {{#each listaTurmas}}
      <option value="{{this.nome}}">{{this.nome}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <label for="novoTurno">Novo Turno:</label>
    <select name="novoTurno">
      <option value="Turno">Turno</option>
      <option value="Manhã">Manhã</option>
      <option value="Tarde">Tarde</option>
      <option value="Noite">Noite</option>
    </select>
  </div>

  <div>
    <button type="submit">Atualizar Turno</button>
  </div>
</form>

<hr>

<h1>Atualizar Turma (Capacidade)</h1>

<form action="/teste/atualizarCapacidadeTurma" method="POST">
  <div>
    <label for="nome">Nome da Turma:</label>
    <select name="nome" id="">
      {{#each listaTurmas}}
      <option value="{{this.nome}}">{{this.nome}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <label for="novaCapacidade">Nova Capacidade:</label>
    <input type="number" id="novaCapacidade" name="novaCapacidade" required>
  </div>

  <div>
    <button type="submit">Atualizar Capacidade</button>
  </div>
</form>

<hr>

<h1>Atualizar Turma (Matéria)</h1>

<form action="/teste/atualizarMateriaTurma" method="POST">
  <div>
    <label for="nome">Nome da Turma:</label>
    <select name="nome" id="">
      {{#each listaTurmas}}
      <option value="{{this.nome}}">{{this.nome}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <label for="novaMateria">Nova Matéria:</label>
    <input type="text" id="novaMateria" name="novaMateria" required>
  </div>

  <div>
    <button type="submit">Atualizar Matéria</button>
  </div>
</form>

<hr>

<h1>Atualziar Turma (Sala)</h1>

<form action="/teste/atualizarSalaTurma" method="POST">
  <div>
    <label for="nome">Nome da Turma:</label>
    <select name="nome" id="">
      {{#each listaTurmas}}
      <option value="{{this.nome}}">{{this.nome}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <label for="novaSala">Nova Sala:</label>
    <input type="text" id="novaSala" name="novaSala" required>
  </div>

  <div>
    <button type="submit">Atualizar Sala</button>
  </div>
</form>

<hr>

<h1>Atualizar Turma (Início)</h1>

<form action="/teste/atualizarInicioTurma" method="POST">
  <div>
    <label for="nome">Nome da Turma:</label>
    <select name="nome" id="">
      {{#each listaTurmas}}
      <option value="{{this.nome}}">{{this.nome}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <label for="novoInicio">Nova Data de Início:</label>
    <input type="date" id="novoInicio" name="novoInicio" required>
  </div>

  <div>
    <button type="submit">Atualizar Início</button>
  </div>
</form>

<hr>

<h1>Atualizar Turma (Término)</h1>

<form action="/teste/atualizarTerminoTurma" method="POST">
  <div>
    <label for="nome">Nome da Turma:</label>
    <select name="nome" id="">
      {{#each listaTurmas}}
      <option value="{{this.nome}}">{{this.nome}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <label for="novoTermino">Nova Data de Término:</label>
    <input type="date" id="novoTermino" name="novoTermino" required>
  </div>

  <div>
    <button type="submit">Atualizar Término</button>
  </div>
</form>

<hr>

<h1>Atualizar Turma (Professor)</h1>

<form action="/teste/atualizarProfessorTurma" method="POST">
  <div>
    <label for="nome">Nome da Turma:</label>
    <select name="nome" id="">
      {{#each listaTurmas}}
      <option value="{{this.nome}}">{{this.nome}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <label for="novoProfessor">Novo Professor:</label>
    <select name="novoProfessor" id="">
      {{#each listaProfessores}}
        <option value={{this.nome}}>{{this.nome}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <button type="submit">Atualizar Professor</button>
  </div>
</form>

<hr>

<h1>Atualizar Turma (Imagem)</h1>

<form action="/teste/atualizarImagemTurma" method="POST">
  <div>
    <label for="nome">Nome da Turma:</label>
    <select name="nome" id="">
      {{#each listaTurmas}}
      <option value="{{this.nome}}">{{this.nome}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <label for="novaImagem">URL da Nova Imagem:</label>
    <input type="url" id="novaImagem" name="novaImagem" required>
  </div>

  <div>
    <button type="submit">Atualizar Imagem</button>
  </div>
</form>

<hr>

<h1>Adicionar Elogios (FAZER)</h1>

<form action="/teste/adicionarElogio" method="post">
  <label for="">Comentário</label>
  <input type="text" name="elogioC">

  <button>Enviar</button>
</form>

<hr>

<h1>Adicionar Reclamação (FAZER)</h1>

<form action="/teste/adicionarReclamacao" method="post">
  <label for="">Tipo da Reclamação</label>
  <input type="text" name="reclamacaoT">

  <label for="">Comentário</label>
  <input type="text" name="reclamacaoC">

  <label for="">Gravidade da Reclamação</label>
  <select name="reclamacaoG">
    <option value="Gravidade">Gravidade</option>
    <option value="Não Grave">Não Grave</option>
    <option value="Pouco Grave">Pouco Grave</option>
    <option value="Grave">Grave</option>
    <option value="Muito Grave">Muito Grave</option>
  </select>

  <button>Enviar</button>
</form>

<hr>

<h1>Adicionar Pontos para Estudantes: (FAZER)</h1>

<form action="/teste/addUserPoints" method="post">

  <label for="">Nome do Estudante</label>
  <input type="text" name="nome">

  <label for="">Turma do Estudante</label>
  <input type="text" name="turma">

  <label for="">Pontos</label>
  <input type="text" name="points">

  <button>Adicionar</button>
  <button>Remover</button>

</form>

<hr>

<h1>Deletar Turma</h1>

<form action="/teste/deletarTurma" method="POST">
  <div>
    <label for="nomeTurma">Selecione a Turma a ser Deletada:</label>
    <select name="nomeTurma" id="nomeTurma">
      {{#each listaTurmas}}
      <option value="{{this.nome}}">{{this.nome}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <button type="submit">Deletar Turma</button>
  </div>
</form>

<hr>
